.menu-item {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: gray;
  margin: 0 15px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item:hover {
  text-decoration: none;
  color: black;
}

.menu-item-wrapper.active {
  text-decoration: none;
  font-weight: bold;
}
.menu-item.active {
  text-decoration: none;
}

.scroll-menu-arrow {
  text-decoration: none;
  cursor: pointer;
}
